# Site wide configuration

title: Greg MacLennan
locale: en_US
description: A Collection of Data Science Projects and Personal Interests
logo: gradient-background.png
search: true
# url: https://gmaclenn.github.io # comment for local hosting
url: http://localhost:4000 # uncomment for local hosting

# Jekyll configuration

permalink:   /:categories/:title/
markdown:    kramdown
highlighter: rouge
sass:
  sass_dir: _sass
  style: compressed
gems:
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed

kramdown:
  input: GFM
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..2
  enable_coderay: false

mathjax: true

include: [".htaccess"]
exclude: ["lib", "config.rb", "Capfile", "config", "log", "Rakefile", "Rakefile.rb", "tmp", ".less", "*.sublime-project", "*.sublime-workspace", "test", "spec", "Gruntfile.js", "package.json", "node_modules", "Gemfile", "Gemfile.lock", "LICENSE", "README.md", "vendor"]


# Site owner
owner:
  name: Greg MacLennan
  avatar: avatar.jpg
  email: gmaclenn@gmail.com
  disqus-shortname:
  twitter: #username
  facebook: #username
  github: gmaclenn
  stackexchange: #http://stackoverflow.com/users/123456/username
  linkedin: gregmaclennan
  instagram: #username
  flickr: gmaclenn
  tumblr: #username
  pinterest: #username
  weibo: #userid
  google:
    plus: #username
    analytics:
    verify:
    ad-client:
    ad-slot:
  bing-verify:
